<h1>
    <h2>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
     
      <div class="jumbotron mb-0 d-flex align-items-center flex-column" id="header" style="background: url('assets/images/conn_logo.png'); background-size: cover;  min-height: 50vh; color: white; border-radius: 0; background-position: center; top: 0">  
        <div style="position: absolute; bottom: 250px; align-items: center; justify-content: center; top: 550px">

        <button type="button" class="btn btn-secondary" (click)="gotoHockeyIn()"><i class="fas fa-table"></i>Hockey- In</button>|
       
        <button type="button" class="btn btn-secondary" (click)="gotoHockeyOff()"><i class="fas fa-table"></i>Hockey- Off</button>|

        <button type="button" class="btn btn-secondary" (click)="gotoLaxIn()"><i class="fas fa-table"></i>Lacrosse- In</button>|

        <button type="button" class="btn btn-secondary" (click)="gotoLaxOff()"><i class="fas fa-table"></i>Lacrosse- Off</button>|

        <button type="button" class="btn btn-secondary" (click)="gotoSoccerIn()"><i class="fas fa-table"></i>Soccer- In</button>|

        <button type="button" class="btn btn-secondary" (click)="gotoSoccerOff()"><i class="fas fa-table"></i>Soccer- Off</button>|

        
      </div>
    </div>

    </h2>

</h1>
